:root {
    --background-color: rgb(4, 2, 20);
    --text-color: bisque;
}

body {
    background-color: var(--background-color);

    color: var(--text-color);
}


header {

    text-align: center;

}

.aboutme{

    text-align: left;

    padding: 0vh 5vh;

}

.myphoto{
    display: block;

    margin: auto auto;
}

.subtitles {
    
    font-weight: lighter;

    font-size: 1.5rem;
}


* {
    font-family: "Open Sans", sans-serif;
}


